body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f3;
    padding: 40px 20px;
    margin: 0;
    background: #4e85de;
    background: radial-gradient(circle, rgba(78, 133, 222, 1) 0%, rgba(0, 41, 204, 1) 100%);

}

h2 {
    text-align: center;
    color: #0b3d5f;
    margin-bottom: 30px;
}

.contenedor {
    background-color: #f9f9f9;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
}

.contenedor:hover {
    box-shadow: 0 15px 30px rgba(219, 153, 10, 0.612);
}

.tarjeta {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    border-left: 6px solid #0b3d5f;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

h3 {
    margin-top: 0;
    color: #0b3d5f;
}

input {
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100%; /* Ocupa el ancho total disponible */
    box-sizing: border-box; /* Evita que el padding ensanche el input */
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 51%);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #1a5a85;
}

.mensaje-exito {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
}